LAUNCH_CONFIG = {
    "verification/analytical/neutron/fixed_source": {
        "enabled": False,
        "platform": "dane",
        "N_node": 1,
        "walltime": 0.6,
    },
    "verification/analytical/neutron/k_eigenvalue": {
        "enabled": False,
        "platform": "dane",
        "N_node": 1,
        "walltime": 1.0,
    },
    "verification/code_to_code/neutron": {
        "enabled": False,
        "platform": "dane",
        "N_node": 20,
        "walltime": 24.0,
    },
    "performance/serial": {
        "enabled": False,
        "platform": "dane",
        "walltime": 5.25,
    },
    "performance/parallel": {
        "enabled": False,
        "platform": "dane",
        "N_node_max": 64,
    },
}
