LAUNCH_CONFIG = {
    "verification/analytical/neutron/fixed_source": {
        "enabled": False,
        "platform": None,
        "N_node": 1,
        "walltime": None,
    },
    "verification/analytical/neutron/k_eigenvalue": {
        "enabled": False,
        "platform": None,
        "N_node": 1,
        "walltime": None,
    },
    "verification/code_to_code/neutron": {
        "enabled": False,
        "platform": None,
        "N_node": 1,
        "walltime": None,
    },
    "performance/parallel": {
        "enabled": False,
        "platform": "dane",
        "N_node_max": 64,
    },
}
